body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(a5bg.png);
    background-repeat: repeat;
 
  
}

h1 {
    color:rgb(0, 0, 0); 
    font-weight: normal;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        margin: 10px;
     
}
h2 {
    color:rgb(0, 0, 0); 
    font-weight: bold;   
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 5px solid black;
}

nav ul {
  list-style-type: none; 
  margin:0;
  padding: 0;
}

nav li{
    border: 1px solid black;
    width: 150px;
    padding: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 20px;
    background-color: rgb(24, 17, 164);
    display: inline-block;
}

nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

nav li a:hover{
    background-color: rgb(54, 43, 252);
} 

div {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0px;
    border: 1px solid black;
    text-align: justify;
}

div a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

div a:hover{
    color: red;
    text-decoration: underline;
}   

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic bold;
    background-color: rgb(0, 0, 139);
    border: 2px solid white;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 20px;
    margin: 0px;
    margin-top: 20px;
}
/*"style" tags (no <hr>, <em>, <i>, <center>, <strong> or <b> tags)*/