body{
    background-color: gray;
}
#wrapper{
    background-color: #ffffff;
    border: 5px solid #1335ae;
    width: 1200px;
    margin: 1em auto;
    display: grid;
    grid-template-columns:repeat (12, 1fr);
}
header { 
    grid-column: span 12;
    font-style: italic;
    background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
    padding-left: 30px;
    margin:0px;
 }
h1 a {
  color: #ff0000;
  text-decoration: none;
}
h1 a:link {
  color: aqua;
}
h1 a:visited {
  color: aqua;
}
h1 a:active {
  color: blueviolet;
}
h1 a:hover {
  color: orchid;
}   
 nav{
    grid-column: span 12;
    background-color: #1335ae;;
    font-family: Arial, Helvetica, sans-serif;
 }

nav ul{
    margin: 0px;
    padding-left: 20px;
    border: none;
}

nav li{
    display: inline-block;
    background-image: linear-gradient(to bottom, #4c8ff4, #165fe4, #1651d2, #1543c0, #1335ae);
  }
nav li a{
    color: white;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}  
nav li a:hover {
    background-image: linear-gradient(to bottom, #1335ae,#1543c0,#1651d2,#165fe4,#136ef6);
    color: orchid;
} 

h2{
    grid-column: span 3;
    margin: 0px;
    padding:0px,30px,0px,30px;
}
h2 a {
  color: #ff0000;
  text-decoration: none;
}

h2 a:visited {
  color: aqua;
}
h2 a:active {
  color: blueviolet;
}
h2 a:hover {
  color: orchid;
}

.wtf{ 
    grid-column: span 4;
    background-color: rgb(165, 255, 255);
    padding: 10px;
    text-align: justify;
}

.wtf2{
    grid-column: span 8;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.wtf3{
    grid-column: span 4;
    background-color:  rgb(255, 255, 255);
    padding: 20px;
}

.underline{
    color:#1335ae;
    border-bottom: #1335ae solid 3px;
}
   
.padding{
 opacity: 0.0;
}

.floatimgLEFT{
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 5px solid #1335ae;
 }

.floatimgRIGHT{
    float: right;
    margin-left: 24px;
    margin-bottom: 24px;
    border: 5px solid #1335ae;
}
footer{
    grid-column: span 12;
    background-color: red;
    border-top: 5px solid #1335ae;
    margin: 0px;
    padding: 10px;
}

