body{
  
     background-image: url('gcs.png');
    }
#wrapper{    border: 5px solid #1335ae;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat (12, 1fr);
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

header { 
    grid-column: span 12;
    background-image: linear-gradient(to left, #3d46a1, #201939);
    font-size: 64px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
 }
.pclass{
    margin:0px;
    padding:0px;
}

.container {
    display: flex;
    flex-direction: column; /* Stacks the items vertically */
    grid-column:span 3;
    margin: 30px 10px 30px 20px;
}

.top {
    background-image: linear-gradient(to left, #3d46a1, #201939); 
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none; /* Removes default link underline */
    color: white; /* Inherit color from parent or set a specific color */
    display: block; /* Ensures links fill their container */
    text-align: center; /* Center text within the link */
    font-size: 40px;
}

.middle {
    background: none; /* Explicitly ensure no background */
    margin:0px;   
    max-width: 100%; /* Ensures the image is responsive within its container */
    display: block; /* Removes any default inline-block spacing issues */
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.bottom {
      background-image: linear-gradient(to left, #3d46a1, #201939); /* Blue background for the bottom item */
    /* Add other styling like color, font, etc. */
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none; /* Removes default link underline */
    color: white; /* Inherit color from parent or set a specific color */
    display: block; /* Ensures links fill their container */
    text-align: center; /* Center text within the link */
    font-size: 40px;
}

h1{

    grid-column: span 6;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2;
    font-weight: bold;
    margin: 0px;
}

.rightcontainer {
    display: flex;
    flex-direction: column; /* Stacks the items vertically */
    grid-column: span 3 ;
 }

 .top2{
    background-image: linear-gradient(to left, #3d46a1, #201939); /* Blue background for the bottom item */
    /* Add other styling like color, font, etc. */
    border: 3px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    text-align:center;
    color: white;
    display: flex; /* Enables Flexbox for centering */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    text-decoration: none; /* Removes default link underline */
    line-height: 2;
    margin: 50px;
}
.bottom2{  
    background-image: linear-gradient(to left, #3d46a1, #201939); /* Blue background for the bottom item */
    /* Add other styling like color, font, etc. */
    border: 3px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;    
    text-align: center; 
    color: white;
    display: flex; /* Enables Flexbox for centering */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    text-decoration: none; /* Removes default link underline */
    margin: 50px;
}
 

ul{
    grid-column: span 12;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around; /* Distributes images evenly with space around them */
    align-items: center; /* Vertically centers the images */
    }
.ulimage{
    margin: 50px 0px 0px 0px;
}


h2{
    width: 100px; /* Set equal width and height for a perfect square */
    height: 100px;
    background-color: blue; /* Add a background color for visibility */
    border-radius: 50%; /* This is the key to making it a circle */
    color: white;
    grid-column: span 12;
}






footer {
    grid-column: span 12;
    background-image: linear-gradient(to left, #3d46a1, #201939);
    color: white;
    text-align: right;
    font-size: 36px;
    margin-top: 10px;
}